<div class="main">

  <div id="head">
    <h1>To Do List</h1>
    <label for="addItemInput">What would you like to do ?</label>

    <input
      #newDescItem
      placeholder="add a task"
      (keyup.enter)="addItem(newDescItem.value, newCatItem.value); newDescItem.value = ''"
      class="lg-text-input"
      id="addItemInput"
    />

    <select #newCatItem name="category" id="category-select">
        <option value="">Choose a category</option>
        <option value="vital">Vital</option>
        <option value="fun">Fun</option>
        <option value="work">Work</option>
        <option value="shopping">Shopping</option>
    </select>

    <button class="btn-primary" (click)="addItem(newDescItem.value, newCatItem.value); newDescItem.value = ''">Add</button>
  </div>
  

  <div id="filterButtons" class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'vital'"
      (click)="filter = 'vital'">
      Vital
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'fun'"
      (click)="filter = 'fun'">
      Fun
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'work'"
      (click)="filter = 'work'">
      Work
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'shopping'"
      (click)="filter = 'shopping'">
      Shopping
    </button>
  </div>

  <div id="items">
    <div class="listitems">
      <h2>{{itemsActive.length}} <span *ngIf="itemsActive.length === 1; else elseBlock">item</span>
      <ng-template #elseBlock>items</ng-template> to do</h2>
      
      <ul>
        <li *ngFor="let item of itemsActive">
          <app-item (remove)="remove(item)" [item]="item"></app-item>
        </li>
      </ul>
    </div>

    <div class="listitems">
      <h2>{{itemsDone.length}} <span *ngIf="itemsDone.length === 1; else elseBlock">item</span>
      <ng-template #elseBlock>items</ng-template> done</h2>
      
      <ul>
        <li *ngFor="let item of itemsDone">
          <app-item (remove)="remove(item)" [item]="item"></app-item>
        </li>
      </ul>
    </div>
  </div>
  

</div>